body{
    background-image: url("images/login.jpg");
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}
#form{
    background-color:rgb(0,0,0) ;
    opacity: 0.8;
    width: 600px;
    color: aliceblue ;
    margin-top: 100px;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#pp{  
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    color: whitesmoke
    ;
}
#logbut{
    width:400px;
    margin-top: 60px;
    margin-bottom: 30px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
#username{
    width:400px;
    margin-top: 10px;
    height: 50px;
}
.pass{
    width:400px;
    margin-top: 10px;
    height: 50px;
}


/*navigation*/
.topnav{
    background-color: black;
    overflow: hidden;
    width:100%;
    display: inline-flex;
}
.topnav a{
    font-family: 'Times New Roman', Times, serif;
    float:right;
    color:#f2f2f2;
    text-align: right;
    padding:14px 16px;
    text-decoration: none;
    font-size: 17px; 
}   
.topnav a:hover{
    background-color: #ddd;
    color:black
}
.topnav a.active{
    background-color: #04AA6D;
    color:white;
}

#name{
    font-family:'Times New Roman', Times, serif;
    color: bisque;
    font-size: 20px;
    float:right;
    text-align: right;
    padding:14px 16px;
    text-decoration: none;
    padding-right: 1000px;
}